@media (max-width: 80em) {
  .heading-primary {
    font-size: 7.2rem;
  }
  .logo {
    height: 12rem;
    width: 22rem;
  }
  .main-nav-link {
    font-size: 2rem;
  }
  .hero-description {
    font-size: 2rem;
  }
  .hero-box {
    padding: 2.8rem;
  }
  .email {
    padding: 1.8rem;
  }
  .box-text {
    font-size: 2rem;
  }
  .form-btn {
    padding: 1.8rem;
    font-size: 2rem;
  }

  .grid {
    gap: 5.2rem 3.2rem;
  }
  .heading-tertiary {
    font-size: 3.8rem;
  }
  .step-description {
    font-size: 1.8rem;
  }
  .collapsible {
    padding: 2.8rem;
    font-size: 2rem;
  }
  .collapsible:after {
    font-size: 2rem;
  }
  .content > p {
    font-size: 2rem;
  }
  .contactus {
    font-size: 1.8rem;
  }
  .lists {
    font-size: 1.4rem;
    margin-bottom: 11rem;
  }
  .select {
    font: 1.4rem;
    padding: 1.2rem 2.2rem;
    margin-bottom: 4.2rem;
  }
  .nepal {
    font-size: 1.4rem;
  }
  .queries-form {
    font-size: 2rem;
  }
}
@media (max-width: 72em) {
  .heading-primary {
    font-size: 6.8rem;
  }
  .section-promotion {
    padding: 6.4rem;
  }
  .logo {
    height: 10rem;
    width: 20rem;
  }
  .heading-tertiary {
    font-size: 3.2rem;
  }
  .step-description {
    font-size: 1.4rem;
  }
  .footer {
    padding: 25rem 15rem;
  }
  .collapsible {
    font-size: 1.8rem;
    padding: 2.4rem;
  }
  .collapsible:after {
    font-size: 1.2rem;
  }
  .hero-box {
    font-size: 1.8rem;
  }
  .queries-form {
    font-size: 1.8rem;
  }
  .email {
    font-size: 1.8rem;
  }
}
@media (max-width: 64em) {
  .hero {
    margin: 0 7rem;
  }
  .hero-box {
    padding: 2rem;
    font-size: 1.4rem;
  }
  .hero-description {
    font-size: 1.4rem;
  }
  /* .section-queries {
    padding: 9rem 12rem;
  } */
  .email {
    padding: 1.2rem;
    font-size: 1.2rem;
  }
  /* .footer {
    padding: 10rem 12rem;
  } */
  /* .queries-form {
    font-size: 1.2rem;
  } */
  .box-text {
    font-size: 1.2rem;
  }
  .form-btn {
    padding: 1.2rem;
    font-size: 1.2rem;
  }
  .select {
    font-size: 1.4rem;
  }
  .contactus {
    font-size: 1.4rem;
  }
  .lists {
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1rem;
  }

  /* .heading-tertiary {
    font-size: 2.4rem;
  }
  .step-description {
    font-size: 1.2rem;
  } */
}
@media (max-width: 53em) {
  .heading-primary {
    font-size: 5.8rem;
  }
  .heading-tertiary {
    font-size: 2.8rem;
    margin-bottom: 2.8rem;
  }
  .grid {
    gap: 4.8rem 2.8rem;
  }
  /* .lists {
    font-size: 0.8rem;
  } */
  .footer {
    padding: 20rem 15rem;
  }
  .collapsible {
    font-size: 1.4rem;
    padding: 2.2rem;
  }
  .collapsible:after {
    font-size: 1.4rem;
  }
  .content > p {
    font-size: 1.4rem;
  }
}
@media (max-width: 49em) {
  .heading-primary {
    font-size: 4.8rem;
  }
  .heading-tertiary {
    font-size: 2rem;
    margin-bottom: 2.4rem;
  }
  .hero-box {
    padding: 1.8rem;
  }
  .hero {
    margin: 0 5rem;
  }
  .grid {
    gap: 4.2rem 2rem;
  }
  .header {
    margin: 4.2rem 0;
  }
  /* .footer {
    padding: 10rem 12rem;
  } */
  .logo {
    height: 7rem;
    width: 16rem;
  }
  .main-nav-link {
    padding: 1rem 2.4rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 40em) {
  .heading-primary {
    font-size: 4.2rem;
    margin-bottom: 1.8rem;
  }
  .heading-tertiary {
    font-size: 1.8rem;
  }
  .hero-description {
    font-size: 1.2rem;
  }
  .section-queries {
    padding: 9rem;
  }
  .footer {
    padding: 12rem 9rem;
  }
  .hero-description {
    margin-bottom: 0;
  }
  .collapsible {
    font-size: 1.2rem;
  }
  .collapsible:after {
    font-size: 1.4rem;
  }
  .content > p {
    font-size: 1.2rem;
  }
  .step-description {
    font-size: 1.2rem;
  }
  .box-text {
    font-size: 1rem;
  }
}

/* 
@media (max-width: 88em) {
  .heading-primary {
    font-size: 7.2rem;
  }
  .box-text {
    font-size: 1.8rem;
  }
  .section-promotion {
    padding: 5.2rem 11.8rem;
    margin: 4.2rem;
  }
  .heading-tertiary {
    font-size: 4.8rem;
    line-height: 1;
    margin-bottom: 2.8rem;
  }
  .step-description {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2;
  }
  .step-img {
    max-width: 100%;
  }
  .question-box {
    gap: 2.8rem;
  }
  .questions {
    padding: 2.8rem;
    font-size: 2.8rem;
  }
  .icon {
    height: 3.8rem;
  }
  .footer {
    padding: 5.2rem 4.2rem;
    margin: 4.2rem;
  }
  .contact {
    font-size: 4.2rem;
    margin-bottom: 4.8rem;
  }
  .contactus {
    font-size: 1.8rem;
  }
  .lists {
    font-size: 1.8rem;
    gap: 1.8rem;
  }
  .select {
    font-size: 1.8rem;
  }
  .nepal {
    font-size: 1.8rem;
  }
}

@media (max-width: 79em) {
  .heading-tertiary {
    font-size: 3.8rem;
    line-height: 1;
    margin-bottom: 2.8rem;
  }
}
@media (max-width: 68em) {
  .grid {
    gap: 4.8rem 3.2rem;
  }
  .questions {
    font-size: 2.8rem;
    padding: 2.8rem;
  }
  .icon {
    height: 2.8rem;
  }
  .hero-box {
    padding: 2.8rem;
    max-width: 60rem;
  }

  .heading-primary {
    max-width: 70rem;
    font-size: 6.4rem;
  }
  .email {
    max-width: 35rem;
    padding: 1.8rem;
    font-size: 1.8rem;
  }
  .form-btn {
    width: 15rem;
    padding: 1.8rem;
    font-size: 1.8rem;
  }
  .heading-tertiary {
    font-size: 3.2rem;
  }
  .hero-description {
    font-size: 2.4rem;
    margin-bottom: 2.8rem;
  }
  .step-description {
    font-size: 1.2rem;
  }
  .hero {
    margin: 0 8rem;
  }
  .logo {
    height: 20rem;
    width: 30rem;
    margin: 1.2rem;
  }
  .list {
    font-size: 1.2rem;
  }
  .select {
    font-size: 1.4rem;
  }
  .nepal {
    font-size: 1.4rem;
  }
}
@media (max-width: 48em) {
  .question {
    padding: 1.2rem;
    font-size: 1.2rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .main-nav-link {
    font-size: 1.8rem;
    padding: 1.2rem 1.8rem;
  }
} */
